@using Course_work.Map;
@using Course_work.Map.Helpers;

@{
    var map = new MapGenerator(160, 160);
    ViewData["Title"] = "Home Page";
}
<script>
let functionarr = [];
function drawRect(x,y,red,green,blue) {
      let canvas = document.getElementById("canvas");
      if (canvas.getContext) {
        let ctx = canvas.getContext("2d");
        ctx.fillStyle = `rgb(${red},${green},${blue})`;
        ctx.fillRect (x, y, 5, 5);
      }
    }
function drawmap() {
  for (const func of functionarr)
    func();
}
</script>
@{
    int startx=10, starty = 10, newwidth=map.Width*5,newhight=map.Height*5;
    for (int x = 0; x < map.Width; x++)
    {
        for (int y = 0; y < map.Height; y++)
        {   <script>functionarr.push(() => drawRect(@startx,@starty,@map.Tiles[x,y]._Biome._Color.Red,@map.Tiles[x,y]._Biome._Color.Green,@map.Tiles[x,y]._Biome._Color.Blue))</script>
            startx += 5;
        }
        startx = 10;
        starty += 5;
    }
}
<body onload="drawmap()">
<canvas id="canvas" width="@newwidth" height="@newhight"></canvas>
</body>