<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script>
    let functionarr = [];
    const canvs = [`canvas1`,`canvas2`,`canvas3`];
    function drawRect(x, y, red, green, blue, lenofpix,num) {
        let canvas = document.getElementById(canvs[num]);
        if (canvas.getContext) {
            let ctx = canvas.getContext("2d");
            ctx.fillStyle = `rgb(${red},${green},${blue})`;
            ctx.fillRect(x, y, lenofpix, lenofpix);
        }
    }
    
    
    function drawmap() {
        for (const func of functionarr)
            func();
        
    }
    </script> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Course_work.styles.css" asp-append-version="true"/>
</head>
@{
    int newwidth = MapController.Map.Width*MapController.Map.LenofPixel+10*MapController.Map.LenofPixel;
    int newhight = MapController.Map.Height*MapController.Map.LenofPixel+10*MapController.Map.LenofPixel;
}
<body onload="drawmap()">

<h1>@ViewData["Title"]</h1>
<br /> 

@RenderBody()

</body>
</html>