
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script>
    let functionArr = [];
    const canvs = [`canvas1`,`canvas2`,`canvas3`];
    function drawRect(x, y, red, green, blue, lenofpix,num) {
        let canvas = document.getElementById(canvs[num]);
        if (canvas.getContext) {
            let ctx = canvas.getContext("2d");
            ctx.fillStyle = `rgb(${red},${green},${blue})`;
            ctx.fillRect(x, y, lenofpix, lenofpix);
        }
    }
    
    
    function drawMap() {
        for (const func of functionArr)
            func();
        
    }
    
    function getImage(canvas){
        let imageData = canvas.toDataURL();
        let image = new Image();
        image.src = imageData;
        return image;
    }
    
    function saveImage(image,name) {
        let link = document.createElement("a");
    
        link.setAttribute("href", image.src);
        link.setAttribute("download", name);
        link.click();
    }
    
    function saveCanvasAsImageFile(num,name){
        let image = getImage(document.getElementById(canvs[num]));
        saveImage(image,name);
    }
    </script> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Course_work.styles.css" asp-append-version="true"/>
</head>

<body onload="drawMap()">

<h1>@ViewData["Title"]</h1>
<br /> 

@RenderBody()

</body>
</html>
