<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script src="js/site.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Course_work.styles.css" asp-append-version="true"/>
</head>
<body>
@RenderBody()

</body>
</html>