@using CourseWork.Controllers

@{
    
    ViewData["Title"] = "Finish";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>
<script src="js/site.js"></script>
<link href="css/site.css" rel="stylesheet" type="text/css">
<div> Width = @HomeController.Map.Width </div>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p><input type="submit" class="button" value="Restart"/></p>
}
