@using CourseWork.Controllers;

@{
    
    ViewData["Title"] = "Height Map";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<br />
<script src="js/site.js"></script>
<link href="css/site.css" rel="stylesheet" type="text/css">
<div> Width = @HomeController.Map.Width </div>
@using (Html.BeginForm("Three", "Home", FormMethod.Post))
{
    <p><input type="submit" class="button" value="Prev"/></p>
}
@using (Html.BeginForm("Finish", "Home", FormMethod.Post))
{
    <p><input type="submit" class="button" value=" End "></p>
}
@using (Html.BeginForm("Two", "Home", FormMethod.Post))
{
    <p><input type="submit" class="button" value=" Next "></p>
}

