@using CourseWork.Controllers;


@{
    
    ViewData["Title"] = "Heat Map";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>

<br />
<script src="js/site.js"></script>
<link href="css/site.css" rel="stylesheet" type="text/css">
<div> Width = @HomeController.Map.Width </div>
@using (Html.BeginForm("One", "Home", FormMethod.Post))
{
    <p><input class="button" type="submit" value=" Prev "></p>
}
@using (Html.BeginForm("Finish", "Home", FormMethod.Post))
{
    <p><input class="button" type="submit" value=" End "></p>
}
@using (Html.BeginForm("Three", "Home", FormMethod.Post))
{
    <p><input class="button" type="submit"  value=" Next "></p>
}