.form-submit-button {
  height: 40px;
  width: 80px;
  background: #9900ff;
  color: #000000;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: #6610f2;
}
.block{
  position: absolute;
  right: 0;
}